{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"no-console": "error",
		"prettier/prettier":	"off",
		"@typescript-eslint/no-unused-vars": ["off", { "argsIgnorePattern": "^_" }],
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/no-explicit-any": "off"
	}
}
